/* 
    Created on : Jun 10, 2015, 10:27:26 AM
    Author     : Robert Erickson
*/
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
*{
    font-family: "Lucida Sans Unicode";
}


body{
    margin: 0 5% 0 5%;
    background-image:url('../images/background2.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

article{
    padding: 2em;
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;

}

figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

#board {
    background-image: url("../images/board2.png");
    background-repeat: no-repeat;
    background-size: 650px auto;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.5);
    height: 630px;
    margin: auto auto 2em;
    position: relative;
    text-align: center;
    width: 630px;
}

#faceDown {
    height:185px;
    left:196px;
    position:absolute;
    top:227px;
}

#card {
    height:185px;
    left:332px;
    position:absolute;
    top:229px;
}

h1, h2, h3, h4, h5, h6{
    padding: 1.5em 0 .8em 0;
}

header{
    max-width: 30%;
    margin: auto;
}

header h1{
    padding: 1em;
    text-align: center;
    margin: 5em auto 1em auto;
    font-size: 15pt;
    border-radius: 30px;
    background-color: #f3f7f9;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
}

p{
    padding: 1em 0 1em 0;   
}

nav{
    width:100%;

}

section{
    padding: 2em;
    width: 40%;  
}

footer {
    padding-top: 0;
    position: absolute;
    width: 90%;
    bottom:0;
    top: 130%;
}

footer p{
    border-radius: 30px 30px 0px 0px;
    background-repeat: no-repeat;
    border-width: 2px;
    text-align: center;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);


}

/*------------------------   classes           ------------------------------ */

p:nth-child(odd){
    background-color: #f3f7f9;
}

p:nth-child(even){
    background-color: lightcyan;
}

.float_right {
    float: right;
    margin-left: 1em;
}

.small {
    width: 150px;
}

/*------------------------   pawn positioning  ------------------------------ */

#R1 {
    position: absolute;
    left: 52px;
    top: 434px;
    height:45px;
}

#R2 {
    position: absolute;
    left: 52px;
    top: 434px;
    height:45px;
}

#R3 {
    position: absolute;
    left: 52px;
    top: 434px;
    height:45px;
}

#R4 {
    position: absolute;
    left: 52px;
    top: 434px;
    height:45px;
}

#Y1 {
    position: absolute;
    left: 559px;
    top: 161px;
    height:45px;
}

#Y2 {
    position: absolute;
    left: 559px;
    top: 161px;
    height:45px;
}

#Y3 {
    position: absolute;
    left: 559px;
    top: 161px;
    height:45px;
}

#Y4 {
    position: absolute;
    left: 559px;
    top: 161px;
    height:45px;
}

.redHome {
    position: absolute;
    right: 88px;
    bottom: 255px;
}

.blueStart {
    position: absolute;
    left: 80px;
    bottom: 160px;
}

.blueHome {
    position: absolute;
    left: 260px;
    bottom: 82px;
}

.yellowStart {
    position: absolute;
    top: 75px;
    left: 160px;
}

.yellowHome {
    position: absolute;
    left: 88px;
    top: 255px;
}

.greenStart {
    position: absolute;
    right: 80px;
    top: 155px;
}

.greenHome {
    position: absolute;
    top: 82px;
    right: 260px;
}



.nav-cont{
    background-color: #f3f7f9;
    height: 80px;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #797f82;
}

.nav-cont img {
    height: 80px;
    margin-left: 2%;
}




/*------------------------   nav section only  ------------------------------ */
nav ol {
    left: 410px;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 15px;
}

nav ol li {
    margin-top: 1em;
    display: inline-block;

}

nav ol li a {
    text-decoration: none;
    color: black;
    padding: 1.7em 2em;
    background-color: #f3f7f9;
}

nav ol li a#logo {
    display:none;
}

nav ol li a:hover {
    background: lightgray;
}

li a .activePage {
    background: lightgray;
}


#updateButton{
    top:400px;
    position: absolute;

}

.pawn{
    
    left: 365px;
    position: absolute;
    top: 5px;
}





#stat {
    font-size: 48pt;
}